# General
/.vagrant/
/.idea/
/build/
.DS_Store

# Symfony
/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# Capistrano
/.env*
/log/

# Node - Bower - Gulp
/bower_components/
/node_modules/
/npm-debug.log
/src/Client/Bundle/WebsiteBundle/Resources/public/

# Favicons
/app/Resources/views/favicons.html.twig
/web/android-chrome-*.png
/web/apple-touch-*.png
/web/browserconfig.xml
/web/coast-*.png
/web/favicon.ico
/web/favicon-*.png
/web/firefox_app_*.png
/web/manifest.json
/web/manifest.webapp
/web/mstile-*.png
/web/open-graph.png
/web/twitter.png
/web/yandex-*.png
/web/yandex-browser-manifest.json

# Sulu
/app/config/phpcr.yml
/app/config/widgets.yml
/web/admin

# REQUIRED FOR DEMO ONLY, REMOVE IN PRODUCTION
/app/Resources/webspaces/*
!/app/Resources/webspaces/*.dist
/app/Resources/pages/*
!/app/Resources/pages/*.dist
/app/Resources/snippets/*
!/app/Resources/snippets/*.dist
/app/Resources/fixtures/*
!app/Resources/fixtures/.gitkeep
